crt-container {
  z-index: -1;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  overflow: auto;
  display: block;
  pointer-events: none;
}

crt-background {
  position: fixed;
  inset: 0;
  display: block;
  background:
    radial-gradient(ellipse at center,
      rgba(0, 0, 0, 0) 0%),
    repeating-linear-gradient(to bottom,
      rgba(0, 0, 0, .2) 0px,
      rgba(0, 0, 0, .3) 1px,
      rgba(0, 0, 0, 0) 2px,
      rgba(0, 0, 0, 0) 3px);
  background-blend-mode: multiply;
  animation: crt-roll 120s linear infinite;
  z-index: 1;
  pointer-events: none;
}

crt-grain {
  position: fixed;
  inset: 0;
  display: block;
  filter: url(#crt-noise);
  mix-blend-mode: overlay;
  opacity: 0.06;
  animation: crt-flicker 5s infinite;
  z-index: 2;
  pointer-events: none;
}

crt-content {
  pointer-events: none;
  position: relative;
  z-index: 3;
  display: block;
}

@keyframes crt-flicker {

  0%,
  100% {
    opacity: 0.05;
  }

  50% {
    opacity: 0.08;
  }
}

@keyframes crt-roll {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 0 0, 0 6px;
  }
}