body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-color: #090906;
  color: #33FF33;
}

nav-bar {
  display: flex;
  width: 372px;
  padding: 10px;
}

content {
  width: 100%;
  border-left: #33FF33 1px solid;
}