content-container {
  width: 100%;
  overflow: auto;
}

new-section {
  margin-block: 52px;
}

img-container {
  margin-bottom: 24px;
}

content-container2 {
  width: 100%;
  margin-inline: auto;
  padding: 42px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 75ch;
  box-sizing: content-box;
  overflow: clip;
  line-height: 1.4;
  overflow: auto;
}

content-container .style-pre {
  line-height: 1;
  white-space: pre;
  overflow: visible;
}

content-container img {
  width: 100%;
  max-width: 700px;
  border: 1px solid var(--main);
  border-radius: 8px;
  /* box-shadow: 0 0 12px rgba(0, 255, 136, 0.2); */
  box-shadow: var(--glow-stronger);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

content-container a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  user-select: text;
}

content-container a:after {
  content: '';
  left: 0;
  bottom: 0;
  display: inline;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--main);
  box-shadow: var(--glow-stronger);
}

content-container p {
  display: inline;
  overflow: clip;
  white-space: normal;
}

text-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

img-caption {
  color: var(--main-mid);
}