*,
*::before,
*::after{box-sizing:border-box}*{margin:0;padding:0}html,body{height:100%;font-family:sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.5}ul,ol{list-style:none}a{text-decoration:none;color:inherit}img,picture,video,canvas,svg{display:block;max-width:100%}button,input,select,textarea{font:inherit;color:inherit;background:none;border:none;outline:none}table{border-collapse:collapse;border-spacing:0}h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #090906;
  color: #33FF33;
}

nav-bar {
  display: flex;
  flex-direction: column;
  width: 372px;
  padding: 10px;
}

nav-bar pre {
  font-family: 'VT323', monospace;
  margin: 0;
  font-size: 16px;
}

nav-bar pre.surname {
  margin-top: -22px;
}

nav-bar pre.title {
  margin-top: -6px;
  margin-left: 6px;
}

nav-bar my-info {
  display: flex;
  justify-content: space-between;
}

p.location {
  font-size: 14px;
  position: relative;
  padding-left: 8px
}

p.location::before {
  content: "O";
  position: absolute;
  left: 0;
  bottom: 2px;
}

p.location::after {
  content: ",";
  position: absolute;
  left: 0;
}

content {
  width: 100%;
  border-left: #33FF33 1px solid;
}