*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}

::selection {
  background: var(--main);
  color: black;
}

vr {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--main);
}

@font-face {
  font-family: "PxPlus_IBM_VGA8";
  src: url("./PxPlus_IBM_VGA8_centered2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main: hsl(120, 73%, 54%);
  --main-mid: hsla(120, 73%, 30%);
  --main-dark: hsl(120, 73%, 14%);
  --glow: #33FF3330;
  --glow-color-strong: #33FF3360;

  --glow-strong: 0 0 6px 1px var(--glow-color-strong);
  --glow-stronger: 0 0 24px 1px var(--glow-color-strong);
}

body {
  margin: 0;
  font-family: 'PxPlus_IBM_VGA8', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  font-size: 16px;

  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #090906;
  color: var(--main);
  text-shadow: 0 0 6px var(--glow);
  animation: textPulse 3s infinite;
}

#root,
app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

@keyframes textPulse {

  0%,
  100% {
    text-shadow: 0 0 6px #33FF3320;
  }

  50% {
    text-shadow: 0 0 6px var(--glow);
  }
}

back-ground {
  width: 100%;
  height: 100%;
  z-index: -2;
  background: radial-gradient(circle, #090906 10%, #0C0C08 75%, #2E2E1F 190%);
  position: absolute;
}

app-container::after {
  content: "";
  position: fixed;
  inset: 0;
  background: inherit;
  filter: url(#animatedNoise);
  opacity: 0.07;
  pointer-events: none;
}

nav-bar {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 368px;
  padding: 10px;
}

nav-bar pre {
  font-family: 'PxPlus_IBM_VGA8', monospace;
  margin: 0;
  font-size: 13px;
  line-height: 1;
}

nav-bar pre.surname {
  margin-top: -22px;
}

nav-bar pre.title {
  margin-top: -8px;
  margin-left: 6px;
}

nav-bar my-info {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding-inline: 8px;
}

a {
  cursor: pointer;
}

nav-bar social-buttons {
  display: flex;
  gap: 12px;
}

nav-bar-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 18px;
}

nav-bar-list-section:first-of-type {
  border-top: 1px solid var(--main);
  flex-grow: 0;
}

nav-bar-list-section {
  border: 1px solid var(--main);
  border-top: 0;
  padding: 8px;
  flex: 1 1 0;
}

nav-bar-sublist {
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  padding-top: 8px;
}

nav-bar-sublist+nav-bar-subtitle {
  padding-top: 16px;
}

nav-bar-title,
nav-bar-subtitle,
skills-title,
skills-item {
  color: var(--main-mid);
}

nav-bar-title {
  display: flex;
  padding-left: 8px;
}

nav-bar-subtitle {
  display: flex;
  padding-left: 8px;
}

nav-bar-button {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 8px 10px;
  min-height: 36px;
  align-items: center;
  user-select: none;
}

@keyframes ativatePulse {

  0%,
  10%,
  30%,
  70% {
    background-color: var(--main-dark);
    box-shadow: 0 0 6px 1px transparent;
  }

  5%,
  20%,
  50%,
  100% {
    background-color: var(--main);
    box-shadow: 0 0 6px 1px var(--glow-color-strong);
  }
}

nav-bar-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(100% - 20px);
  min-height: 60%;
  left: 0;
  background-color: var(--main-dark);
}


nav-bar-button.selected::after {
  background-color: var(--main);
  box-shadow: 0 0 6px 1px var(--glow-color-strong);
  animation: ativatePulse .2s linear;
}

nav-bar-button#home {
  margin-left: 0;
}

nav-bar-sublist nav-bar-button:first-child {
  margin-top: -4px;
}

nav-bar-button::before {
  content: ">";
  color: var(--main-dark);
  width: 16px;
}

nav-bar-button.selected::before,
nav-bar-button:hover::before {
  color: var(--main);
  text-shadow: 0 0 6px var(--main);
}

skills-list-container {
  display: flex;
  padding-left: 8px;
  padding-top: 8px;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

skills-list {
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  width: fit-content;
}

skills-list:nth-child(2) {
  padding-left: 32px;
}

skills-list:last-child {
  flex-basis: 50%;
}

skills-item {
  white-space: nowrap;
  display: inline-block;
}

p.location {
  font-size: 16px;
  position: relative;
  padding-left: 12px
}

p.location::before {
  content: "O";
  position: absolute;
  left: 0;
  bottom: 3px;
  transition: all 0.15s ease-out;
}

p.location::after {
  content: ",";
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: all 0.2s ease-out;
}

p.location:hover::after {
  bottom: -2px;
}

p.location:hover::before {
  bottom: 0px;
}