*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5
}

ul,
ol {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

#root,
app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #090906;
  color: #33FF33;
}

app-container {
  background: radial-gradient(circle,
      #090906 10%,
      #0C0C08 75%,
      #2E2E1F 190%)
}

app-container::after {
  content: "";
  position: fixed;
  inset: 0;
  background: inherit;
  filter: url(#animatedNoise);
  opacity: 0.07;
  pointer-events: none;
}

nav-bar {
  display: flex;
  flex-direction: column;
  width: 372px;
  padding: 10px;
}

nav-bar pre {
  font-family: 'VT323', monospace;
  margin: 0;
  font-size: 16px;
  line-height: 1;
}

nav-bar pre.surname {
  margin-top: -22px;
}

nav-bar pre.title {
  margin-top: -6px;
  margin-left: 6px;
}

nav-bar my-info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

nav-bar social-buttons {
  display: flex;
  gap: 12px;
}

nav-bar-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 18px;
}

nav-bar-list-section:first-of-type {
  flex-grow: 0;
}

nav-bar-list-section {
  border: 1px solid #33FF33;
  padding: 8px;
  flex-grow: 1;
}

nav-bar-sublist {
  display: flex;
  padding-inline: 8px;
}

nav-bar-title {
  display: flex;
  padding-left: 8px;
}

nav-bar-button {
  display: flex;
  width: 100%;
  padding: 8px;
  padding-left: 8px;
  min-height: 36px;
  align-items: center;
}

nav-bar-button.selected::before {
  content: ">";
  left: 6px;
  width: 14px;
}

nav-bar-button:hover {
  background-color: #33FF3305;
}

nav-bar-button.selected {
  background-color: #33FF3320;
}

p.location {
  font-size: 14px;
  position: relative;
  padding-left: 8px
}

p.location::before {
  content: "O";
  position: absolute;
  left: 0;
  bottom: 10px;
}

p.location::after {
  content: ",";
  position: absolute;
  left: 0;
}

content {
  width: 100%;
  border-left: #33FF33 1px solid;
}